extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let parkid = toShow._id
    - let parklocation = toShow.parklocation
    - let parkarea = toShow.parkarea
    
    - let actionid = "/resource/resource/parks/" + parkid
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='parkAttr mr-3') park ID is:
        div #{parkid}
      div.row
        div(class='parkAttr mr-3') park Type is:
        div #{parklocation}
      div.row
        div(class='parkAttr mr-3') park Size is:
        div #{parkarea}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the park collection
      window.location.href='/park'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/park'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }

